Repository klonwar/avito-monitor-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: init telegram bot
  apps/avito-monitor-bot/.env.template
  apps/avito-monitor-bot/.gitignore
  apps/avito-monitor-bot/package.json
  apps/avito-monitor-bot/src/app.controller.ts
  apps/avito-monitor-bot/src/app.module.ts
  apps/avito-monitor-bot/src/app.service.ts
  apps/avito-monitor-bot/src/app.update.ts
  apps/avito-monitor-bot/src/bot/bot.constants.ts
  apps/avito-monitor-bot/src/bot/bot.module.ts
  apps/avito-monitor-bot/src/bot/bot.service.ts
  apps/avito-monitor-bot/src/bot/filters/any-exception.filter.ts
  apps/avito-monitor-bot/src/bot/filters/type-exception.filter.ts
  apps/avito-monitor-bot/src/bot/message.service.ts
  apps/avito-monitor-bot/src/bot/pipes/command-body.pipe.ts
  eslint.config.mjs
  yarn.lock
Due: prettier --write, eslint --fix

feat: user entity and registration scene
  .gitignore
  apps/avito-monitor-bot/migrations/1754381884989-User.ts
  apps/avito-monitor-bot/ormconfig.ts
  apps/avito-monitor-bot/package.json
  apps/avito-monitor-bot/src/app.module.ts
  apps/avito-monitor-bot/src/app.update.ts
  apps/avito-monitor-bot/src/bot/bot.module.ts
  apps/avito-monitor-bot/src/bot/scenes/scenes.constants.ts
  apps/avito-monitor-bot/src/bot/scenes/scenes.module.ts
  apps/avito-monitor-bot/src/bot/scenes/user/registration.scene.ts
  apps/avito-monitor-bot/src/model/user/user.model.ts
Due: prettier --write, eslint --fix

feat: parser with notification about added items
  apps/avito-monitor-bot/migrations/1754638181167-LinkAutoGeneratedId.ts
  apps/avito-monitor-bot/ormconfig.ts
  apps/avito-monitor-bot/package.json
  apps/avito-monitor-bot/src/app.module.ts
  apps/avito-monitor-bot/src/app/parser/parser.module.ts
  apps/avito-monitor-bot/src/app/parser/parser.service.ts
  apps/avito-monitor-bot/src/entities/link/models/link.model.ts
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.command.ts
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.types.ts
  apps/avito-monitor-bot/src/entities/task/features/fetch/fetch.command.ts
  apps/avito-monitor-bot/src/entities/task/features/fetch/fetch.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/notify/notify.command.ts
  apps/avito-monitor-bot/src/entities/task/features/notify/notify.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/parse/parse.command.ts
  apps/avito-monitor-bot/src/entities/task/features/parse/parse.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/parse/parse.types.ts
  apps/avito-monitor-bot/src/entities/task/subscribers/link.subscriber.ts
  apps/avito-monitor-bot/src/entities/task/task.module.ts
  apps/avito-monitor-bot/src/entities/task/task.service.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: enable stealth plugin
  apps/avito-monitor-bot/src/app/parser/parser.module.ts
Due: prettier --write, eslint --fix

fix: enable local priority for cars
  apps/avito-monitor-bot/src/entities/task/features/fetch/fetch.handler.ts
Due: prettier --write, eslint --fix

fix: better package json scripts
  apps/avito-monitor-bot/package.json
  package.json
Due: prettier --write

fix: error handling and captcha detection
  apps/avito-monitor-bot/src/app/parser/parser.service.ts
  apps/avito-monitor-bot/src/entities/task/features/fetch/fetch.handler.ts
Due: prettier --write, eslint --fix

feat: refactoring and enhancing
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/fetch/fetch.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/notify/notify.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/parse/parse.handler.ts
  apps/avito-monitor-bot/src/entities/task/task.service.ts
Due: prettier --write, eslint --fix

feat: calculate diff only from the top of the array
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.handler.ts
Due: prettier --write, eslint --fix

fix: refactoring
  apps/avito-monitor-bot/src/entities/task/features/notify/notify.handler.ts
Due: prettier --write, eslint --fix

fix: logic, exclude seen ids on diff step
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.handler.ts
  apps/avito-monitor-bot/src/entities/task/features/notify/notify.handler.ts
  apps/avito-monitor-bot/src/entities/task/task.service.ts
Due: prettier --write, eslint --fix

fix: branch naming check
  .husky/pre-push
Due: none

fix: head window
  apps/avito-monitor-bot/src/entities/task/features/diff/diff.handler.ts
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,html}) or (any of: *.{js,ts,jsx,tsx})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
